.body {
     padding-top: 80px;

}
.hero {
    background: linear-gradient(to right, #000000d0 40%, #0d6efd10);
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}


.navbar .nav-link {
    font-weight: 500;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #0d6efd;
}
